/* src/pages/AvaliacaoPage.css */
.avaliacao-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px 40px;
  background-color: #000000;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgb(255, 255, 255);
  font-family: sans-serif;
  text-align: center;
}

.avaliacao-header {
  margin-bottom: 30px;
}
.avaliacao-header h1, .avaliacao-header p, .avaliacao-header, .rating-category {
  color: #ffffff;
}
.avaliacao-header .logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.avaliacao-header h1 {
  
  margin-bottom: 8px;
}

.avaliacao-header p {
  font-size: 1.1rem;
  color: #ffffff;
  margin: 0;
}

.avaliacao-form {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Espaçamento entre as categorias */
}

.rating-category, .comment-category {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre o label e as estrelas/textarea */
}

.rating-category label, .comment-category label {
  font-size: 1.2rem;
  font-weight: 500;
}

.comment-category textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  font-size: 1rem;
  resize: vertical;
}

.submit-btn {
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  background-color: #c40d13; /* Cor OAB botao */
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-btn:hover {
  background-color: #ffffff;
}