/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* AQUI ESTÃO SUAS VARIAVEIS GLOBAIS - NÃO MEXA AQUI */
@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --ring: 212.7 26.8% 83.9%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --ring: 212.7 26.8% 83.9%;
  }
}

/* --- CRIE O SEU TEMA LOCAL AQUI --- */
.dashboard-theme {
  --background: 0 0% 100%; /* Exemplo: Fundo branco */
  --foreground: 222.2 47.4% 11.2%; /* Exemplo: Texto preto */
  --ring: 214.3 31.8% 91.4%;
  /* adicione outras cores que você queira mudar */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}