# Arquivos de log gerados pelo NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pasta de dependências (a maior de todas)
# Isso impede o envio de milhões de arquivos
node_modules/


.env
/backend/.env


dist
build

# Arquivos de sistema operacional
.DS_Store
Thumbs.db